<div class="m-3">
<h1>Stupid Coaching</h1>
    <form action="/answer" method="get"> <!--should post it to /answer-->
        <label for="inputQuestion" class="form-label">Ask your coach anything:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="question" placeholder="Type your question here">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Ask!</button>
          </div>
        </div>
    </form>
</div>
